
header{
width: 10em 0;

}
section{
  background: #FFED74;
  padding: 20px;
/*  background-size: 5em;   /*not working??*/
  /*margin: 5em 0;*/
  /*border:10em 0;  not working??*/
/*  content: width 15em 0;*/
border: 1px black solid;

}
#logo{
  background-size: 10em 0;    /*?????*/
}

body{
  font-size: 16px
  padding: 20px;
  border: 1px black solid;
}

nav{
  background-color: #E8C66A;
}


#pic_one, #pic_three, #pic_five{
  background-color: #FFE2B8
}

#pic_two, #pic_four, #pic_six{
  background-color: #FFE2B8
}

/*#pic_one{
background: yellow;
}

#pic_two{
  background-color: purple;
}

#pic_three{
  background-color: yellow;
}

#pic_four{
  background-color: purple;
}

#pic_five{
  background-color: yellow;
}

#pic_six{
  background-color: purple;
}*/


footer{
  text-align: center;
  padding: 20px;
  border: 1px black solid;
  background-color: #FF957E;
}
